<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
   </head>
   <body class="loggedin">
      <nav class="navtop">
         <div>
            <h1>Ballot</h1>
         </div>
      </nav>
      <div class="content">
         <p>Your Vote for {{ballot_submit}} Has Been Submitted</p>
         <a id="close_app" class="close_app" href="{{ url_for('ballot_login') }}"><i class="fas fa-sign-out-alt"></i>Close</a>
      </div>
   </body>
</html>