<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
   </head>
   <body class="loggedin">
      <nav class="navtop">
         <div>
            <h1>Ballot</h1>
         </div>
      </nav>
      <div class="content">
      <h2>Ballot Page</h2>
      <p>Welcome, {{session['username']}}!</p>
      <div> Confirm {{session['blockchain_head'][1]}}? </div>
      <form method="POST" action="{{ url_for('ballot_confirmation') }}">
         <button class="pure-button pure-button-primary deny" type="submit"  
            formaction="confirm" formmethod="get">Cancel</button>
         <button class="pure-button button-warning confirm" type="submit" 
            formaction="confirm" formmethod="post">Confirm</button>
      </form>
   </body>
</html>